.App {
  background-color: #eeeeee;
  color: #616161;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.App-content {
  max-width: 800px;
  width: calc(100% - 24px);
  padding: 12px;
}

.App-header {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 12px;
}

.paper {
  padding: 12px;
  text-align: left;
  background-color: #f5f5f5; 
}

.search {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

@media screen and (min-width: 600px) {
  .search {
    display: flex;
    flex-direction: row;
    padding: 6px;
  }
}

.search > form {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.search-title {
  flex: 5;
}

.search-year {
  flex: 1;
}

.search label {
  color: #757575;
  font-weight: bold;
  margin-bottom: 6px;
}

.search input[type=text] {
  padding: 6px;
  border: 1px solid grey;
  border-radius: 4px;
  color: #616161;
}

.search input[type=text] {
  background-image: url('../../search_icon.png');
  background-position: 6px 6px;
  background-size: 14px;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.section-header {
  font-size: 16px;
  font-weight: bold;
  color: #616161;
}
